
.logo{
    width: 100px;
    height: 100px;
}




.list{

margin-top: 20px;
}
.link{
text-decoration: none;
color: black;
}
.loginbtn{
background-color: white;
border: 2px solid blue;

}
.signupbtn{
background-color: blue;
border: 2px solid blue;
color: white;
}
.navbar list{
width:80%;
margin-left: 50px;
}

.profile {
vertical-align: middle;
width: 20px;
height: 20px;
border-radius: 50%;
}



.resize{
font-size: 12px;
}
.resize1{
font-size: 15px;
}
.label_radio{
font-size: 15px;
}

#icon{

float: left;
}
.orders{
font-size: 10px;
}
.orders-icon{
float: right;
}
#revenue{
font-size: 20px;
}
#order{
font-size: 20px;
}
#productsold{
font-size: 20px;
}


.flexible {
display: flex;
background-color:lightgray;
height: 105px;
margin-bottom: 0px;

width: 80%;

}
.flexseperate {

height:90px ;
background-color: #f1f1f1;
margin : 10px;
padding: 20px;
font-size: 30px;
width: 31%;
font-family: monospace;
}
.disable{
display: flex;
flex-direction: row;
}


ul{
list-style-type: none;
color: #9E999B
}


.margin{
margin-left: 100px;
}
.customerForm{
margin-left: 100px;
}





.login{
margin-left: 50px;
}

.label_radio{
font-size: 15px;
}

#l3{
margin-top: 0px;
float: right;
}
#l1{
float: left;
}


.percentage{
height: 15px;
width: 30px;
float: left;
font-size: 8px;
}
.text{
font-size: 12px;
color: #9E999B;
}
.customer_table {
margin-top: 50px;
font-size: 12px;
margin-left: 100PX;
width:100% ;

}
#navbar_list>li{
display:inline ;
}
thead{
background-color: lightgray;
}
.status1{
background-color: #9EF9EA;
color:#21A87A;
border-color: #9EF9EA;
word-wrap: break-word;
height: 17px;
font-size: 10px;

}
.status2{
background-color: #D7FADD;
color:#04E575;
border-color:#D7FADD;
word-wrap: break-word;
height: 17px;
font-size: 10px;

}
.status3{
background-color: #E2D6F0;
color:#7027C8;
border-color:#E2D6F0;
word-wrap: break-word;
height: 17px;
font-size: 10px;

}
.status4{
background-color: #F9F9B6;
color:#E7E71F;
border-color:#F9F9B6;
word-wrap: break-word;
height: 17px;
font-size: 10px;

}

.left{
display: block;
}

.submit{
float: right;
}

#default{
background-color: blue;
}
#success{
background-color:green;
}
#secondary{
background-color:gray;
}
#info{
background-color:aquamarine ;
}
#warning{
background-color:yellow;
}
#danger{
background-color:red;
}
.row{
width: 100%;

}
.tab{
    tab-size: 4;
}










